# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
#*.dll

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib

# Executables
#*.exe
*.out
*.app

#cmake
*.cmake
Makefile
CMakeCache.txt
CMakeFiles
login/login

#win32
ALL_BUILD.vcxproj
ALL_BUILD.vcxproj.filters
Win32/
ZERO_CHECK.vcxproj
ZERO_CHECK.vcxproj.filter
login/login.dir/
login/login.vcxproj
login/login.vcxproj.filte
proto.dir/
proto.vcxproj
proto.vcxproj.filters
*.pb.cc
*.pb.h
server_framework.sln
tinynet.dir/
tinynet.vcxproj
tinynet.vcxproj.filters
ZERO_CHECK.vcxproj.filters
login/login.vcxproj.filters